.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.gallery-item {
  background-color: #f1f1f1;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery-item:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.gallery-img {
  width: 100%;
}

.gallery-img-wrapper {
  height: 300px;
  margin-bottom: 10px;
}

.gallery-description {
  background: white;
  border-radius: 3px;
  padding: 10px;
}
