body,
html {
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
}
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.blue-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-button:hover {
  background-color: #0056b3;
}

.text-center {
  text-align: center;
}

.pb-2 {
  padding-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}
